* {
  box-sizing: border-box;
  background-color: #fafafa; 
  color: #505050;
  font-family: Didot;
  padding: 0;
}

main{
    /* display: flex; */
    align-items: center;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 4rem;
}

#display {
  margin-bottom: 4rem;
  color: #101010;
  font-size: 50px;

}

#input-field{
    line-height: 40px;
    padding-right: 10rem;
}

ul li{
  /* cursor: pointer; */
  /* position: relative; */
  /* padding: 12px 8px 12px 40px; */
  font-size: 30px;
  transition: 0.2s;
  list-style-type: cjk-decimal;
  /* list-style-type: upper-roman; */
  /* list-style-type: square; */
 
}
ul li:hover{
  color: darkred;
}
