/* Global Variables */
:root{
  --nero: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fafafa; 
}

main{
    align-items: center;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-top: 4rem;
    font-family: Didot;
    color: var(--nero);
}

.today {
  color: var(--nero);
  font-size: 50px;
}

input{
    line-height: 40px;
    margin-top: 2rem;
    padding-right: 10rem;
    background-color: #fafafa;
}

input::placeholder {
  color: #0074D9;
  font-size: 1.2em;
  font-style: italic;
  padding-left: 15px;
}

ul li{
  font-size: 30px;
  transition: 0.2s;
  list-style-type: none;
}

ul li:hover{
  background-color: lightgray;
}

button{
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: white;
  color: var(--nero);
  border: 2px solid var(--nero); /* Green */
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--nero); /* Green */
  color: white;
}

.monday1, .tuesday2, .wednesday3, .thursday4, .friday5, .saturday6, .sunday0{
  display: none;
}